:root {
  --primary-lighter: #fca5a5;
  --primary-light: #f87171;
  --primary-main: #ef4444;
  --primary-dark: #dc2626;
  --primary-darker: #b91c1c;

  --secondary-lighter: #fcd34d;
  --secondary-light: #fbbf24;
  --secondary-main: #f59e0b;
  --secondary-dark: #d97706;
  --secondary-darker: #b45309;
}